$icons: (
  ( 5000, 0, 0, 75),
  ( 2000, -166, 0, 75),
  ( 1000, -333, 0, 75),
  ( 500, -493, 0, 75),
  ( 200, -165, -194, 47),
  ( 100, -4, -194, 47),
  ( 50, -4, -358, 47),
  ( 20, -165, -358, 47),
  ( 10, -4, -527, 47),
  ( 5, -165, -527, 47),
  ( 2, -4, -682, 47),
  ( 1, -165, -682, 47),
);

.ui__transaction__detail--item {
  background-image: url('/images/icons.svg');
  background-repeat: no-repeat;
  // width: 140px;
  height: 66px;
  margin-right: 12px;
  // text-align: right;

  & p {
    @include rem(font-size, 18px);
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 4px #000;
    color: #a3a3a3;
    display: block;
    height: 25px;
    margin-top: 4px;
    padding-top: 2px;
    text-align: center;
    width: 28px;
  }

  &.micro {
    p {
      @include rem(font-size, 16px);
      font-family: 'Fira Mono';
      letter-spacing: -2px;
    }
  }

  @each $b in $icons {
    &--#{nth($b, 1)} {
      background-position: #{nth($b, 2)}px #{nth($b, 3)}px;
      padding-left: #{nth($b, 4)}px;
    }
  }
}
