.ui__message-field {
  @include rem(font-size, 20px);
  @include max-screen($toggle-to-rows) {
    &:first-of-type {
      margin-top: 16px;
    }
    // max-width: 307px
  }

  color: #eee;
  font-family: 'Fira Mono';
  text-shadow: -1px 1px 1px rgba(255,255,255,.5), 0 0 0 #000, 1px 1px 1px rgba(255,255,255,.5);
  position: relative;
  // width: 100%;

  @include min-screen($screens-bigger-than-iphone) {
    // margin-left: 16px;
  }

  padding: 16px;
  opacity: 0;
  transition: opacity .45s ease-in-out;

  & h2, & h3, & h4 {
    @include rem(font-size, 20px);
    margin: 0;
  }

  & p {
    @include rem(font-size, 16px);
  }

  &--warning {
    background-color: #ff7085;
    color: #842332;
    border-left: 4px solid #842332;
    opacity: 1;
  }

  &--sucsess {
    background-color: #c0edad;
    color: #388616;
    border-left: 4px solid #388616;
    opacity: 1;
  }

  &--mid-grey {
    background-color: #d6d6d6;
    color: #686868;
    border-left: 4px solid #686868;
    opacity: 1;
  }

  & p { margin: 0; }

  &--light-grey {
    background-color: #e5e7e4;
    color: #8c8c8c;
    border-left: 4px solid #8c8c8c;
    opacity: 1;
  }
}



.ui__transaction__summary {

  &--feature-item,
  &--other-items
  {
    & p {
      margin: 0 16px 0 0;
    }

    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
  }

  &--other-items {

    margin: 1px 0 0 -16px;
    min-height: 26px;
    vertical-align: top;
    padding: 5px 0 0 16px;

    & p { @include rem(font-size, 13px); }
    & p:first-of-type { width: 235px; }
    & p:nth-of-type(2) { width: 155px; }

    &--current {
      // border: 1px solid red;
      background-color: rgba(128,128,128, .2);
    }

    &.odd {
      background-color: rgba(128,128,128, .1);
    }

    &.even {
      // nothing in there for now
    }
  }
}

.ui__message__heading {
  &--right {
    color: rgba(56,56,56,.3);
    @include min-screen($toggle-to-rows) {
      position: absolute;
      right: 16px;
      // padding-right: 27px
      padding-right: 25px;
    }

    &:after {
      @include rem(font-size, 22px !important);
      @include min-screen($toggle-to-rows) {
        right: 0;
      }
      font-family: 'icomoon';
      display: block;
      margin-top: -30px !important;
      // cursor: pointer;
      content: '\e9ce';
      width: 22px;
      position: absolute;
      right: 16px;
      }
  }
}
