//- { "dest_path": "./app/templates" }
h2 Current Float Balance: #[span(ng-hide="currentbalance < 0" ng-model="currentbalance") {{ currentbalance | currency }} ]
div.ui__transaction__detail
  div(ng-repeat="item in float" class="ui__transaction__detail--item--{{ item.denomination}}").ui__transaction__detail--item.micro
      p {{ item.amount }} 
