//- { "dest_path": "./app/" }
- var page = { type: "home"}
doctype html
<!--[if lt IE 7]>html(lang='en-GB' class='no-js lt-ie9 lt-ie8 lt-ie7' ng-app)<![endif]--><!--[if (IE 7)&!(IEMobile)]>html(lang='en-GB' class='no-js lt-ie9 lt-ie8' ng-app)<![endif]--><!--[if (IE 8)&!(IEMobile)]>html(lang='en-GB' class='no-js lt-ie9' ng-app)<![endif]--><!--[if gt IE 8]><!-->
html(release='##tag##' lang='en-GB' ng-app="app").no-js <!--<![endif]-->
  include page-head-contents-2.jade
  body
    include page-body-contents-2.jade
    P by PH  
