.application__canvas {
  @include display(flex);
  @include flex-wrap(wrap);
  @include flex-direction(column);
  @include align-items(center);
  @include min-screen($toggle-to-rows) {
    @include flex-direction(row);
    @include align-items(flex-start);
  }
  width: 100%;
}

.ui__container,
.ui__keypad {
  @include min-screen($screens-bigger-than-iphone) {
    max-width: 500px;
  }
  background-color: #3a3e3d;
  max-width: 375px;
  padding: 16px;
}

.ui__transaction__detail {
  @include display(flex);
  @include flex-wrap(wrap);
  @include flex-direction(row);
  margin: 16px 0;
}



.ui__container {

  &--flexbox {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
  }

  @include min-screen($toggle-to-rows) {

    &--left,
    &--right {
      width: 45%;
    }

    &--left {
      min-width: 420px;
    }
  }
  background-color: #3a3e3d;
  padding: 16px;

  &--left {
    border-radius: 5px;
  }

  &--right {
    @include min-screen($screens-bigger-than-iphone) {
      flex-grow: 1;
    }
  }
}

.ui__button {

  @include rem(font-size, 18px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, rgba(0, 0, 0, .1) 93%, rgba(0, 0, 0, .15) 100%);
  border: 2px solid #171717;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, .25), inset 0 0 0 1px rgba(0, 0, 0, .54);
  color: #fff;
  font-family: 'Fira Mono';
  font-weight: 900;
  margin: 0 8px;
  min-height: 45px;
  text-shadow: rgb(3, 3, 3) 0 1px 1px;
  width: 105px;

  &--grey {
    @include rem(font-size, 26px);
    @include max-screen($screens-bigger-than-iphone) {
      width: 70px;
    }

    margin-bottom: 16px;
    padding-top: 12px;
    text-align: center;
    text-shadow: rgb(3, 3, 3) 1px 2px 1px;
  }

  &--green {
    background-color: #8ae869;
  }

  &--red {
    @include max-screen($screens-bigger-than-iphone) {
      margin-top: 16px;
    }

    @include screen($toggle-to-rows, $go-all-in) {
      margin-top: 16px;
    }

    background-color: #ff5770;
  }
}

.ui__transaction--icon {
  @include rem(font-size, 22px !important);
  display: block;
  font-family: 'icomoon';
  margin-top: -4px !important;

  &:before {
    content: '\e9ce';
  }
}
