@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/icomoon.eot?x3ydzc'),
  url('../fonts/icomoon.eot?x3ydzc#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?x3ydzc') format('truetype'),
  url('../fonts/icomoon.woff?x3ydzc') format('woff'),
  url('../fonts/icomoon.svg?x3ydzc#icomoon') format('svg');
}
